<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" id="register-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-center">
                        <a href="#" class="btn btn-fb col-xs-12">
                            <i class="fa fa-facebook-official"></i> Login with Facebook
                        </a>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required
                               value="test"
                               placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                        <label for="name">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required
                               value="test@test.com"
                               placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="password-one">Password</label>
                        <input type="password" class="form-control" id="password-one" name="password-one"
                               placeholder="Enter a password">
                    </div>
                    <div class="form-group">
                        <label for="password-two">Confirm password</label>
                        <input type="password" class="form-control" id="password-two" name="password-two"
                               placeholder="Confirm your password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>