<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/libraries.css" rel="stylesheet">

    <link href="/assets/main.css" rel="stylesheet">
</head>

<body>

{{> partials/navbar }}

{{#block "main"}}
    <br>
{{/block}}
{{#if user }}
{{ else }}
    {{> partials/login-modal }}
    {{> partials/register-modal }}
{{/if}}

{{> partials/footer }}


<script src="/assets/libraries.js"></script>
<script src="/assets/main.js"></script>
</body>
</html>
